/* --------- Global style */

body {
    font-family: 'Playfair Display', serif;
    text-align: center;
}

/* --------- Background */

.background-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* --------- Game layout */

.btn {
    width: 220px;
    height: 60px;
    text-transform: uppercase;
    letter-spacing: 1.2px;
}

#user-image {
    float:left;
    width: 50%;
    height: 50%;
    padding-top: 2%;
    border-radius: 50%;
    border-color: black;
}

#computer-image {
    float: right;
    width: 50%;
    height: 50%;
    padding-top: 2%;
    border-radius: 50%;
    border-color: black;
}

.footer {
    text-align: center;
}